@model List<string>

У вас не достаточно прав

@{
    foreach(var item in Model){
        <p>@item</p>
    }
}
<br />
<form method="get" asp-controller="Account" asp-action="AddToAdmins">
    <input type="submit" value="получить права администратора" />
</form>

<br />
<form method="post" asp-controller="Account" asp-action="Logout">
    <input type="submit" value="Выход" />
</form>